/*!   === Banner ===   */

.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/banner.jpg);
	padding-bottom: 140px;

	h1.banner-title {
		padding: 100px 0 70px;
		font-size: 48px;
		font-family: $default-font-semibold;
		color: $white;
	}
}

.search-form {
	position: relative;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	height: 62px;
	border-radius: 3px;
	border-top-left-radius: 0;
	background-color: $white;
	.select-tabs {
		display: flex;
		position: absolute;
		left: 0;
		top: -50px;
		.btns {
			display: flex;
			align-items: center;
			padding: 10px 15px;
			border: 0;
			border-radius: 3px;
			font-size: $ftz-extra-small;
			color: $white;
			background-color: $blue;
			&:focus {
				outline: none;
			}
			&.active {
				color: #b4b4b4;
				background-color: $white;
			}
			span {
				display: inline-block;
				text-align: left;
				line-height: 1.3;
			}
			&.location {
				width: 195px;
				border-bottom-left-radius: 0;
				span {
					width: 125px;
				}
				i {
					background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='430.114' height='430.114'%3E%3Cpath fill='%232a99cf' d='M356.208 107.051c-1.531-5.738-4.64-11.852-6.94-17.205C321.746 23.704 261.611 0 213.055 0 148.054 0 76.463 43.586 66.905 133.427v18.355c0 .766.264 7.647.639 11.089 5.358 42.816 39.143 88.32 64.375 131.136 27.146 45.873 55.314 90.999 83.221 136.106 17.208-29.436 34.354-59.259 51.17-87.933 4.583-8.415 9.903-16.825 14.491-24.857 3.058-5.348 8.9-10.696 11.569-15.672 27.145-49.699 70.838-99.782 70.838-149.104v-20.262c.001-5.347-6.627-24.081-7-25.234zm-141.963 92.142c-19.107 0-40.021-9.554-50.344-35.939-1.538-4.2-1.414-12.617-1.414-13.388v-11.852c0-33.636 28.56-48.932 53.406-48.932 30.588 0 54.245 24.472 54.245 55.06 0 30.587-25.305 55.051-55.893 55.051z'/%3E%3C/svg%3E");
				}
			}
			&.medical-portfolio {
				width: 225px;
				span {
					width: 180px;
				}
				i {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='580' viewBox='0 0 582 582.889' width='580'%3E%3Cpath d='M573.574 97.297H321.008v38.855h215.129c20.676-.004 37.433-16.765 37.437-37.437zm0 0' fill='%23fff'/%3E%3Cpath d='M321.008 175.008h157.234c20.461-.004 37.043-16.59 37.051-37.047v-1.809H321.008zm0 0' fill='%23fff'/%3E%3Cpath d='M321.008 213.863h108.09c20.777 0 37.625-16.843 37.625-37.62v-1.235H321.008zm0 0M47.598 136.152h215.125V97.297H10.16v1.418c.004 20.672 16.762 37.433 37.438 37.437zm0 0' fill='%23fff'/%3E%3Cpath d='M68.441 137.96c.008 20.458 16.59 37.044 37.051 37.048h157.23v-38.856H68.443zm0 0' fill='%23fff'/%3E%3Cpath d='M117.012 176.242c0 20.778 16.847 37.621 37.625 37.621h108.09v-38.855H117.012zm0 0' fill='%23fff'/%3E%3Cpath d='M321.008 39.012c0-16.094-13.047-29.145-29.14-29.145-16.098 0-29.145 13.051-29.145 29.145 0 16.093 13.047 29.144 29.144 29.144 16.094-.004 29.14-13.05 29.14-29.144zm0 0' fill='%23fff'/%3E%3Cpath d='M359.863 485.86h-19.425a9.713 9.713 0 0 0-9.715 9.714c0 5.363 4.347 9.711 9.714 9.711h19.426c5.367 0 9.715 4.352 9.715 9.715v19.43c0 5.363-4.348 9.71-9.715 9.71h-19.425c-5.368 0-9.715 4.352-9.715 9.715a9.713 9.713 0 0 0 9.714 9.715h19.426c16.098 0 29.145-13.047 29.145-29.144V515c0-16.094-13.047-29.14-29.145-29.14zm0 0M573.574 87.582H321.008c-5.363 0-9.711 4.348-9.711 9.715v116.566c0 5.367 4.348 9.715 9.71 9.715h108.09c22.837-.05 42.383-16.39 46.485-38.855h2.66c22.73-.055 42.13-16.453 45.965-38.856h11.93c26.031-.035 47.12-21.125 47.152-47.152v-1.418a9.713 9.713 0 0 0-9.715-9.715zm-144.476 116.57h-98.375v-19.43h124.964a27.96 27.96 0 0 1-26.59 19.43zm49.144-38.859h-147.52v-19.426H504.41a27.377 27.377 0 0 1-26.168 19.426zm57.895-38.856H330.723v-19.425h231.875a27.793 27.793 0 0 1-26.461 19.425zm0 0M154.637 223.578h108.09c5.363 0 9.71-4.348 9.71-9.715V97.297c0-5.367-4.347-9.715-9.71-9.715H10.16a9.713 9.713 0 0 0-9.715 9.715v1.418c.032 26.027 21.125 47.12 47.153 47.152h11.93c3.84 22.403 23.234 38.801 45.964 38.856h2.664c4.098 22.464 23.645 38.804 46.48 38.855zm98.375-19.426h-98.375a27.96 27.96 0 0 1-26.59-19.43h124.965zm-231.88-97.14h231.88v19.425H47.598a27.801 27.801 0 0 1-26.465-19.425zm58.188 38.855h173.692v19.426h-147.52c-12.047-.012-22.668-7.898-26.172-19.426zm0 0' fill='%232a99cf'/%3E%3Cpath d='M437.578 291.578H301.582V76.488c20.777-5.367 33.273-26.558 27.906-47.336-5.363-20.777-26.558-33.273-47.336-27.91-20.777 5.367-33.273 26.559-27.906 47.336a38.85 38.85 0 0 0 27.906 27.91v215.09H146.156c-16.097 0-29.144 13.047-29.144 29.14v19.43c0 16.094 13.047 29.141 29.144 29.141h19.426c5.367 0 9.715-4.348 9.715-9.71a9.713 9.713 0 0 0-9.715-9.716h-19.426c-5.367 0-9.715-4.351-9.715-9.715v-19.425a9.713 9.713 0 0 1 9.715-9.715h135.996v62.722l-97.14 14.989c-16.211.453-29.121 13.715-29.145 29.93v17.835c.012 16.532 13.41 29.934 29.942 29.95h18.629a9.713 9.713 0 0 0 9.714-9.715c0-5.364-4.347-9.715-9.714-9.715h-18.63c-5.804-.004-10.507-4.707-10.511-10.508V418.66c.004-5.805 4.707-10.508 10.512-10.512.492 0 .988-.039 1.476-.117l94.867-14.64v79.277l-59.46 13.191c-15.633.633-27.981 13.496-27.965 29.145v19.426c0 16.097 13.046 29.144 29.14 29.144h19.43c5.363 0 9.715-4.351 9.715-9.715 0-5.363-4.352-9.714-9.715-9.714h-19.43c-5.363 0-9.71-4.348-9.71-9.715v-19.426c0-5.363 4.347-9.715 9.71-9.715.711 0 1.418-.078 2.11-.23l56.175-12.485v90.43h19.43V488.25l99.246-22.05h.09c15.309-1.446 26.996-14.325 26.945-29.704V418.66c-.015-16.531-13.41-29.926-29.937-29.941h-18.633c-5.363 0-9.715 4.351-9.715 9.715 0 5.367 4.352 9.714 9.715 9.714h18.633c5.8.004 10.504 4.707 10.512 10.512v17.836a10.477 10.477 0 0 1-10.094 10.508c-.32 0-.594.176-.914.215-.32.039-.535 0-.817 0l-95.031 21.156v-77.984l137.473-21.215.136-.047c15.399-.856 27.465-13.555 27.532-28.977v-19.43c0-16.097-13.051-29.144-29.145-29.144zM272.438 39.012c0-10.73 8.699-19.43 19.43-19.43 10.726 0 19.425 8.7 19.425 19.43s-8.7 19.43-19.426 19.43c-10.73 0-19.43-8.7-19.43-19.43zm174.855 301.136c0 5.364-4.352 9.715-9.715 9.715-.262 0-.476.125-.726.145-.25-.016-.5-.016-.75 0l-134.52 20.73v-59.73h135.996a9.713 9.713 0 0 1 9.715 9.715zm0 0' fill='%232a99cf'/%3E%3C/svg%3E");
				}
			}
			i {
				width: 25px;
				height: 25px;
				display: inline-block;
				margin-right: 15px;
				@include bg-base64(contain, center);
			}
		}
	}
	.search-select {
		opacity: 0;
		outline: none;
		& + span {
			display: none;
		}
		&.active + span {
			display: block;
		}
	}
	.search-modals {
		font-size: $ftz-extra-small;
		color: #b4b4b4;
		padding: 0 20px;
		&.feeding-type {
			cursor: pointer;
			border-left: 1px solid #b4b4b4;
			border-right: 1px solid #b4b4b4;
		}
		&.number-of-people {
			border-right: 1px solid #b4b4b4;
			position: relative;
		}
		.toggler {
			cursor: pointer;
		}
		.dropdown {
			display: none;
			position: absolute;
			left: 0;
			padding: 15px;
			top: 43px;
			width: 250px;
			background-color: $white;
			.form-group {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
				label {
					margin-bottom: 0;
				}
			}
			a.other {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: $ftz-extra-small;
				line-height: 1.33;
				letter-spacing: 0.3px;
				color: #b4b4b4;
				text-decoration: underline;
				i.icon {
					display: block;
					width: 21px;
					height: 21px;
					@include bg-base64(contain, center);
					background-image: url("data:image/svg+xml,%3Csvg height='512px' viewBox='0 0 512 512' width='512px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%239aba22' d='M199.945 359.898h67.98v39.989h-67.98zm-74.98-4.996c-13.805 0-24.992 11.188-24.992 24.993 0 13.8 11.187 24.992 24.992 24.992 13.805 0 24.992-11.192 24.992-24.992 0-13.805-11.187-24.993-24.992-24.993zm276.922-121.968H199.945v39.988h201.942zm-276.922-4.997c-13.805 0-24.992 11.188-24.992 24.993 0 13.804 11.187 24.992 24.992 24.992 13.805 0 24.992-11.188 24.992-24.992 0-13.805-11.187-24.993-24.992-24.993zM401.887 112.97H199.945v39.988h201.942zm-276.922-5c-13.805 0-24.992 11.191-24.992 24.992 0 13.805 11.187 24.996 24.992 24.996 13.805 0 24.992-11.191 24.992-24.996 0-13.8-11.187-24.992-24.992-24.992zM39.988 451.875V59.985c0-11.028 8.969-19.997 19.996-19.997h391.891c11.023 0 19.992 8.969 19.992 19.996v225.938h39.988V59.984C511.855 26.91 484.95 0 451.875 0H59.985C26.91 0 0 26.91 0 59.984v391.891c0 33.074 26.91 59.98 59.984 59.98h230.934v-39.988H59.984c-11.027 0-19.996-8.969-19.996-19.992zM483.723 512l-39.82-39.82c-13.473 8.05-29.212 12.683-46.012 12.683-49.614 0-89.977-40.363-89.977-89.972 0-49.614 40.363-89.977 89.977-89.977 49.609 0 89.972 40.363 89.972 89.977 0 18.355-5.531 35.441-15.004 49.691L512 483.722zm-85.832-67.125c27.562 0 49.984-22.422 49.984-49.984s-22.422-49.989-49.984-49.989-49.989 22.426-49.989 49.989 22.426 49.984 49.989 49.984zm0 0'/%3E%3C/svg%3E");
				}
			}
		}
	}

	.search-btn {
		margin-left: auto;
		display: flex;
		align-items: center;
		padding: 10px 25px;
		font-size: $ftz-normal;
		font-weight: bold;
		border-radius: 3px;
		color: $white;
		background-color: #9aba22;
		border: 0;
		i {
			display: inline-block;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			@include bg-base64(cover, center);
			background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966'%3E%3Cpath fill='%23fff' d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");
		}
	}
}
