/*!   === Modal ===   */

.overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1100;
}

.modal {
	display: none;
	padding: 30px;
	position: fixed;
	z-index: 1200;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 776px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #bdecfe, #c1eefe 29%, #daf1ff 65%, #edf6ff 85%, #e8f5ff);
	h3 {
		text-align: center;
		font-size: 21px;
		font-weight: 600;
		color: $blue-secondary;
		margin-bottom: 40px;
	}
	.select-boxes {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		label {
			color: $blue-secondary;
			margin-bottom: 5px;
			margin-left: 20px;
		}
		span.number {
			width: 10px;
			height: 10px;
			line-height: 10px;
			text-align: center;
			color: $blue-secondary;
			font-weight: bold;
		}
	}

	.input-group {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		select {
			border: 0;
			-webkit-appearance: none;
			margin-left: 10px;
			margin-right: 10px;
			padding: 10px 34px 10px 10px;
			border-radius: 3px;
			background-color: #f0f7ff;
			font-size: $ftz-small;
			color: #6789a0;
			outline: none;
			@include bg-base64(12px, 95%);
			background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' fill='%236789a0'%3E%3Cpath d='M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z'/%3E%3C/svg%3E");
			&[name="child-select"] {
				margin-right: 0;
			}
			&[name="child-age-select"] {
				margin-left: 5px;
				background-position: 80%;
			}
		}
	}
	.input-action-btn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border: 0;
		padding: 0;
		background-color: transparent;
		span {
			display: inline-block;
			line-height: 14px;
			text-align: center;
			width: 14px;
			height: 14px;
			border-radius: 1px;
			color: $white;
			background-color: $blue-secondary;
		}
		&.adults-add {
			margin-left: 148px;
		}
		&.child-add {
			margin-right: 0;
		}
	}
	.input-group-adder-btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.add {
			// margin-left: auto;
			margin-top: 10px;
			font-size: $ftz-small;
			color: $blue-secondary;
			span {
				margin-right: 10px;
			}
		}
	}
	button.confirmation {
		display: block;
		margin: 40px auto 0;
		border: 0;
		font-size: $ftz-large;
		font-weight: 600;
		letter-spacing: 0.46px;
		color: $white;
		border-radius: 3px;
		background-color: $green-secondary;
		padding: 10px 90px;
	}
}

body.modal-opened {
	position: relative;
	overflow: hidden;
	.overlay,
	.modal {
		display: block;
	}
}
