<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <div class="column">
        <a href="/" title="BookSpaHotel - Logo"><img class="logo" src="./img/logo.png" alt="BookSpaHotel - Logo"></a>
        <p class="slogan">Быстрый поиск санаториев по низкой цене</p>
        <a class="contact-links" href="tel:00420731500797" title="Mobile Number"><i class="icon-phone-3"></i>+420-731-500-797</a>
        <a class="contact-links" href="mailto:info@bookspahotel.com" title="Email Address"><i class="icon-mail"></i>info@bookspahotel.com</a>
        <ul class="social-medias">
          <li><a class="icon-vkontakte" href="" title="" target="_blank" rel="noopener"></a></li>
          <li><a class="icon-facebook-official" href="" title="" target="_blank" rel="noopener"></a></li>
          <li><a class="icon-odnoklassniki" href="" title="" target="_blank" rel="noopener"></a></li>
          <li><a class="icon-instagram" href="" title="" target="_blank" rel="noopener"></a></li>
          <li><a class="icon-youtube-play" href="" title="" target="_blank" rel="noopener"></a></li>
          <li><a class="icon-gplus" href="" title="" target="_blank" rel="noopener"></a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="column-title">Курорты</h6>
        <ul class="column-links">
          <li><a href="" title="Все курорты">Все курорты</a></li>
          <li><a href="" title="Курорты Чехии">Курорты Чехии</a></li>
          <li><a href="" title="Курорты Венгрии">Курорты Венгрии</a></li>
          <li><a href="" title="Курорты Словакии">Курорты Словакии</a></li>
          <li><a href="" title="Курорты Словении">Курорты Словении</a></li>
          <li><a href="" title="Курорты Литвы">Курорты Литвы</a></li>
          <li><a href="" title="Курорты Латвии">Курорты Латвии</a></li>
          <li><a href="" title="Курорты Италии">Курорты Италии</a></li>
          <li><a href="" title="Курорты Белоруссии">Курорты Белоруссии</a></li>
          <li><a href="" title="Курорты Азербайджана">Курорты Азербайджана</a></li>
          <li><a href="" title="Курорты Польши">Курорты Польши</a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="column-title">Вaжные ссылки</h6>
        <ul class="column-links">
          <li><a href="" title="Часто задаваемые вопросы">Часто задаваемые вопросы</a></li>
          <li><a href="" title="Условия бронирования">Условия бронирования</a></li>
          <li><a href="" title="Экскурсии">Экскурсии</a></li>
          <li><a href="" title="О сервисе">О сервисе</a></li>
          <li><a href="" title="Гарантии">Гарантии</a></li>
          <li><a href="" title="Политика конфиденциальности">Политика конфиденциальности</a></li>
          <li><a href="" title="Отзывы о bookspahotel.com">Отзывы о bookspahotel.com</a></li>
          <li><a href="" title="Наши достижения">Наши достижения</a></li>
          <li><a href="" title="Контакты">Контакты</a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="column-title">Энциклопедия курортного лечения</h6>
        <ul class="column-links">
          <li><a href="" title="Полезное о курортном лечении">Полезное о курортном лечении</a></li>
          <li><a href="" title="Обзоры отелей">Обзоры отелей</a></li>
          <li><a href="" title="Видео о лечебных курортах">Видео о лечебных курортах</a></li>
          <li><a href="" title="Рейтинги отелей">Рейтинги отелей</a></li>
          <li><a href="" title="Лечебные процедуры">Лечебные процедуры</a></li>
          <li><a href="" title="Консультация курортолога">Консультация курортолога</a></li>
          <li><a href="" title="Правильный выбор курорта">Правильный выбор курорта</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">
      Все права защищены и охраняются законом. © 2019 bookspahotel.com. При полном или частичном копировании материала, прямая индексируемая ссылка на bookspahotel.com обязательна
    </p>
  </div>
</footer>
<!-- /Footer -->