<!-- Header -->
<div class="header-top">
  <div class="container">
    <nav>
      <ul>
        <li><a href="https://wa.me/420731500797" title="WhatsApp" target="_blank" rel="noopener"><i class="icon-whatsapp"></i>+420-731-500-797</a></li>
        <li><a href="skype:BookSpaHotel?chat" title="Skype Account"><i class="icon-skype-outline"></i>BookSpaHotel</a></li>
        <li><a href="mailto:info@bookspahotel.com" title="Email Address"><i class="icon-mail"></i>info@bookspahotel.com</a></li>
      </ul>
    </nav>
  </div>
</div>
<header class="header">
  <div class="container">
    <nav>
      <ul>
        <li class="list-logo"><a href="/" title="BookSpaHotel - Logo"><img class="logo" src="./img/logo.png" alt="BookSpaHotel - Logo"></a></li>
        <li class="list-item"><a href="#" title="Как Выбрать Курорт">Как Выбрать Курорт</a></li>
        <li class="list-item"><a href="#" title="Экскурсии">Экскурсии</a></li>
        <li class="list-item"><a href="#" title="Трансферы">Трансферы</a></li>
        <li class="list-item"><a href="#" title="Контакты">Контакты</a></li>
        <li class="list-telephone"><a href="tel:00420731500797" title="Mobile Number"><i class="icon-phone-3"></i>+420-731-500-797</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /Header -->