<div class="item-inner">
  <span class="average-score">
    <em>Средняя оценка</em>
    <strong>8.4</strong>
  </span>
  <img src="./img/gallery/1.jpg" alt="Терме Олимия">
  <figcaption>
    <div class="left">
      <h3>Терме Олимия</h3>
      <button>Что и как лечат на курорте?</button>
      <a href="" title="Советы по выбору санатория"><i class="icon"></i>Советы по выбору санатория</a>
    </div>
    <strong class="price">
      <span>за номер от</span>
      65€
    </strong>
  </figcaption>
</div>