<!-- Modal -->
<section class="modal">
  <h3>Выберит режим питания и лечения для каждого гостя</h3>
  <div class="select-boxes">
    <div class="adults">
      <label>Количество взрослых (не более 4-х)</label>
      <div class="input-group" id="field-1">
        <span class="number">1</span>
        <select name="adults-select" id="adults-select-1">
          <option>3-х разовое питание с лечением</option>
          <option>3-х разовое питание без лечения</option>
          <option>2-х разовое питание с лечением</option>
          <option>2-х разовое питание без лечения</option>
        </select>
        <button class="input-action-btn remove" type="button"><span>&#8722;</span></button>
      </div>
    </div>
    <div class="children">
      <label for="">Количество детей (не более 4-х)</label>
      <!-- <div class="input-group" id="field-1">
        <span class="number">1</span>
        <select name="child-select" id="child-select-1">
          <option value="3-х разовое питание с лечением">3-х разовое питание с лечением</option>
          <option value="3-х разовое питание без лечения">3-х разовое питание без лечения</option>
          <option value="2-х разовое питание с лечением">2-х разовое питание с лечением</option>
          <option value="2-х разовое питание без лечения">2-х разовое питание без лечения</option>
        </select>
        <select name="child-age-select" id="child-age-select-1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
        </select>
        <button class="input-action-btn remove" type="button"><span>&#8722;</span></button>
      </div>
     -->
    </div>
  </div>
  <div class="input-group-adder-btns">
    <button class="input-action-btn add adults-add" type="button"><span>&#43;</span>Добавить взрослого</button>
    <button class="input-action-btn add child-add" type="button"><span>&#43;</span>Добавить ребенка</button>
  </div>
  <button class="confirmation" type="button">Подтвердить</button>
</section>
<div class="overlay"></div>
<!-- /Modal -->