<select hidden class=" search-select location active" data-type="location">
  <option value="Выберите курорт или санаторий" disabled selected>Выберите курорт или санаторий</option>
  <optgroup label="Курорты Азербайджана">
    <option value="Нафталан">Нафталан</option>
  </optgroup>
  <optgroup label="Курорты Венгрии">
    <option value="Будапешт">Будапешт</option>
    <option value="Хайдусобосло">Хайдусобосло</option>
    <option value="Шарвар">Шарвар</option>
    <option value="Бюкфюрдо">Бюкфюрдо</option>
    <option value="Хевиз">Хевиз</option>
  </optgroup>
  <optgroup label="Курорты Италии">
    <option value="Абано Терме">Абано Терме</option>
    <option value="Фьюджи">Фьюджи</option>
    <option value="Монтекатини Терме">Монтекатини Терме</option>
  </optgroup>
  <optgroup label="Курорты Польши">
    <option value="Поляница-Здруй">Поляница-Здруй</option>
    <option value="Кудова-Здруй">Кудова-Здруй</option>
    <option value="Сверадув-Здруй">Сверадув-Здруй</option>
    <option value="Душники-Здруй">Душники-Здруй</option>
    <option value="Цеплице-Здруй">Цеплице-Здруй</option>
    <option value="Колобжег ">Колобжег </option>
  </optgroup>
  <optgroup label="Курорты Словении">
    <option value="Порторож ">Порторож </option>
    <option value="Терме Олимия">Терме Олимия</option>
    <option value="Струньян ">Струньян </option>
    <option value="Раденцы ">Раденцы </option>
    <option value="Рогашка Слатина">Рогашка Слатина</option>
  </optgroup>
  <optgroup label="Курорты Чехии">
    <option value="Карловы Вары">Карловы Вары</option>
    <option value="Марианские Лазни">Марианские Лазни</option>
    <option value="Яхимов ">Яхимов </option>
    <option value="Теплице ">Теплице </option>
    <option value="Подебрады ">Подебрады </option>
    <option value="Франтишковы Лазни">Франтишковы Лазни</option>
  </optgroup>
  <optgroup label="Курорты Беларуси">
    <option value="Беларусь">Беларусь</option>
  </optgroup>
  <optgroup label="Курорты Германии">
    <option value="Абано Терме">Абано Терме</option>
  </optgroup>
  <optgroup label="Курорты Италии">
    <option value="Абано Терме">Абано Терме</option>
    <option value="Фьюджи">Фьюджи</option>
    <option value="Монтекатини Терме">Монтекатини Терме</option>
  </optgroup>
  <optgroup label="Курорты Латвии">
    <option value="Абано Терме">Абано Терме</option>
    <option value="Фьюджи">Фьюджи</option>
  </optgroup>
  <optgroup label="Курорты Польши">
    <option value="Абано Терме">Абано Терме</option>
  </optgroup>
</select>
<select hidden class="search-select medical-portfolio" data-type="medical-portfolio">
  <option value="Выберите курорт или санаторий" disabled selected>Выберите курорт или санаторий</option>
  <optgroup label="Курорты Азербайджана">
    <option value="Нафталан">Нафталан</option>
  </optgroup>
  <optgroup label="Курорты Венгрии">
    <option value="Будапешт">Будапешт</option>
    <option value="Хайдусобосло">Хайдусобосло</option>
    <option value="Шарвар">Шарвар</option>
    <option value="Бюкфюрдо">Бюкфюрдо</option>
    <option value="Хевиз">Хевиз</option>
  </optgroup>
  <optgroup label="Курорты Италии">
    <option value="Абано Терме">Абано Терме</option>
    <option value="Фьюджи">Фьюджи</option>
    <option value="Монтекатини Терме">Монтекатини Терме</option>
  </optgroup>
  <optgroup label="Курорты Польши">
    <option value="Поляница-Здруй">Поляница-Здруй</option>
    <option value="Кудова-Здруй">Кудова-Здруй</option>
    <option value="Сверадув-Здруй">Сверадув-Здруй</option>
    <option value="Душники-Здруй">Душники-Здруй</option>
    <option value="Цеплице-Здруй">Цеплице-Здруй</option>
    <option value="Колобжег ">Колобжег </option>
  </optgroup>
  <optgroup label="Курорты Словении">
    <option value="Порторож ">Порторож </option>
    <option value="Терме Олимия">Терме Олимия</option>
    <option value="Струньян ">Струньян </option>
    <option value="Раденцы ">Раденцы </option>
    <option value="Рогашка Слатина">Рогашка Слатина</option>
  </optgroup>
</select>