/*!   === Footer ===   */

.footer {
	padding: 40px 0;
	.footer-columns {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.column {
		display: flex;
		flex-direction: column;
		a {
			color: $gray;
			transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
			&:hover {
				color: $blue;
			}
		}
		.slogan {
			color: $gray;
			max-width: 230px;
			font-size: $ftz-large;
			font-weight: 300;
			margin: 20px 0;
			line-height: 1.2;
		}
		.contact-links {
			font-size: 16px;
			font-weight: 300;
			text-align: left;
			i {
				margin-right: 15px;
			}
		}
		.social-medias {
			margin-top: 20px;
			display: flex;
			padding: 0;
			list-style: none;
			li:not(:last-child) {
				margin-right: 5px;
			}
			a {
				font-size: $ftz-extra-large;
			}
		}
		&-title {
			font-family: $default-font-bold;
			margin-bottom: 10px;
			font-size: $ftz-small;
			color: #464d54;
		}
		&-links {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 2px;
			}
			a {
				font-size: $ftz-small;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 1px;
					background-color: $blue;
					transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	.copyright {
		margin-top: 50px;
		color: #464d54;
		text-align: center;
		font-size: $ftz-extra-small;
	}
}
