/*!   === Header ===   */

.header-top {
	background-color: $blue;
	nav {
		display: flex;
	}
	ul {
		display: flex;
		list-style: none;
		margin-left: auto;
		padding: 5px 0;
		li {
			&:first-child {
				font-family: $number-font;
			}
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
		a {
			display: flex;
			align-items: center;
			color: $white;
			font-size: $ftz-extra-small;
			font-style: normal;
			i {
				display: inline-block;
				font-size: $ftz-extra-large;
				margin-right: 5px;
				&::before {
					margin: 0;
				}
			}
		}
	}
}
.header {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		padding: 15px 0;
		.list-item {
			&:not(:nth-last-child(2)) {
				// margin-right: 15px;
				position: relative;
				&::after {
					right: 0;
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					height: 15px;
					width: 1px;
					background-color: #d4d8db;
				}
			}
			a {
				display: inline-block;
				padding: 0 15px;
				color: #0a0a0a;
				font-size: $ftz-small;
			}
		}

		.list-logo {
			margin-right: auto;
		}
		.list-telephone {
			margin-left: auto;
			a {
				display: flex;
				align-items: center;
				color: #0a0a0a;
				font-size: $ftz-extra-large;
				font-family: $number-font;
				.phone-svg {
					margin-right: 10px;
					width: 35px;
					height: 35px;
					@include bg-base64(cover, center);
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath fill='%239aba22' d='M256 32c123.5 0 224 100.5 224 224S379.5 480 256 480 32 379.5 32 256 132.5 32 256 32m0-32C114.625 0 0 114.625 0 256s114.625 256 256 256 256-114.625 256-256S397.375 0 256 0zm142.719 341.594l-1.438-4.375c-3.375-10.062-14.5-20.562-24.75-23.375L334.688 303.5c-10.25-2.781-24.875.969-32.405 8.5l-13.688 13.688c-49.75-13.469-88.781-52.5-102.219-102.25l13.688-13.688c7.5-7.5 11.25-22.125 8.469-32.406L198.219 139.5c-2.781-10.25-13.344-21.375-23.406-24.75l-4.313-1.438c-10.094-3.375-24.5.031-32 7.563l-20.5 20.5c-3.656 3.625-6 14.031-6 14.063-.688 65.063 24.813 127.719 70.813 173.75 45.875 45.875 108.313 71.345 173.156 70.781.344 0 11.063-2.281 14.719-5.938l20.5-20.5c7.5-7.469 10.874-21.875 7.531-31.937z'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}
