/*!   === Header ===   */

.header-top {
	background-color: $blue;
	nav {
		display: flex;
	}
	ul {
		display: flex;
		list-style: none;
		margin-left: auto;
		padding: 5px 0;
		li {
			&:first-child {
				font-family: $number-font;
			}
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
		a {
			display: flex;
			align-items: center;
			color: $white;
			font-size: $ftz-extra-small;
			font-style: normal;
			i {
				display: inline-block;
				font-size: $ftz-extra-large;
				margin-right: 5px;
				&::before {
					margin: 0;
				}
			}
		}
	}
}
.header {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		padding: 15px 0;

		.list-item {
			&:not(:last-child) {
				color: red;
				margin-right: 15px;
				position: relative;
				&::after {
					right: 0;
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					height: 13px;
					width: 1px;
					background-color: #d4d8db;
				}
			}
			a {
				display: inline-block;
				padding: 5px 12px;
				color: #0a0a0a;
				font-size: $ftz-small;
			}
		}

		.list-logo {
			margin-right: auto;
		}
		.list-telephone {
			margin-left: auto;
			a {
				display: flex;
				align-items: center;
				color: #0a0a0a;
				font-size: $ftz-extra-large;
				font-family: $number-font;
				svg {
					margin-right: 10px;
				}
			}
		}
	}
}
