@import 'helpers/helpers', 'lib/libs', 'components/components', 'partials/partials';

/*!   === Custom Font's  ===   */
@include font-face('ProximaNova-Thin', '../fonts/ProximaNova/ProximaNova-Thin');
@include font-face('ProximaNova-Light', '../fonts/ProximaNova/ProximaNova-Light');
@include font-face('ProximaNova-Regular', '../fonts/ProximaNova/ProximaNova-Regular');
@include font-face('ProximaNova-SemiBold', '../fonts/ProximaNova/ProximaNova-SemiBold');
@include font-face('ProximaNova-Bold', '../fonts/ProximaNova/ProximaNova-Bold');
@include font-face('ProximaNova-ExtraBold', '../fonts/ProximaNova/ProximaNova-ExtraBold');
@include font-face('ProximaNova-Black', '../fonts/ProximaNova/ProximaNova-Black');

@include placeholder {
	// color: $black;
}

@include selection {
	// color: $white;
	// background-color: $orange;
}

/*!   === Main CSS ===   */
body {
	color: $black;
	font-weight: $fw-400;
	font-size: $ftz-normal;
	background-color: $white; // 2
}

.logo {
	width: 265px;
	height: 36px;
}

//  Pages
@import 'index.scss';
