@import 'helpers/helpers', 'lib/libs', 'components/components', 'partials/partials';

/*!   === Custom Font's  ===   */
@include font-face('ProximaNova-Thin', '../fonts/ProximaNova/ProximaNova-Thin');
@include font-face('ProximaNova-Light', '../fonts/ProximaNova/ProximaNova-Light');
@include font-face('ProximaNova-Regular', '../fonts/ProximaNova/ProximaNova-Regular');
@include font-face('ProximaNova-SemiBold', '../fonts/ProximaNova/ProximaNova-SemiBold');
@include font-face('ProximaNova-Bold', '../fonts/ProximaNova/ProximaNova-Bold');
@include font-face('CenturyGothic', '../fonts/CenturyGothic/CenturyGothic');

@include placeholder {
	// color: $black;
}

@include selection {
	// color: $white;
	// background-color: $orange;
}

/*!   === Main CSS ===   */
body {
	color: $black;
	font-weight: $fw-400;
	font-size: $ftz-normal;
	background-color: $white; // 2
}

.logo {
	width: 265px;
	height: 48px;
}
.bottom-aligned {
	top: 422px !important;
}

.book-spa-hotels {
	display: none;
	font-size: $ftz-extra-small;
	color: $gray-light;
	cursor: pointer;
	width: 200px;
	&.active {
		display: block;
	}
}

#age + .select2-container {
	width: 80px !important;
	height: 20px;
	border: 1px solid #8f8f8f;
	background-color: transparent;
	color: #8f8f8f;
	border-radius: 0;
	font-size: 11px;
	line-height: 20px;
	outline: none;
}

.dropdown-select {
	display: flex;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	position: absolute !important;
	padding: 0;
	flex-wrap: wrap;
	top: 65px;
	left: 0;
	width: 100%;
	padding: 20px;
	border-radius: 3px;
	z-index: 110;
	&.opacity {
		opacity: 1;
		visibility: visible;
	}
	ul {
		display: flex;
		flex-direction: column;
		width: 160px;
		font-size: $ftz-extra-small;
		font-weight: 300;
		margin-bottom: 20px;
		padding-left: 0;
		padding-bottom: 5px !important;
		border-bottom: 1px solid #b4b4b471;

		span {
			cursor: default;
			display: block;
			padding: 0;
			font-size: $ftz-extra-small;
			color: $blue;
			margin-bottom: 10px;
		}
		li {
			color: #848484;

			cursor: pointer;
			list-style: none;
			transition: color 0.3s ease-in-out;
			&:hover {
				color: $blue;
			}
		}
	}
}

//  Pages
@import 'index.scss';
