//= ./partials/head.html
<!-- Index -->
<section class="index">
  <section class="international-contacts">
    <div class="icon"></div>
    <div>
      Бесплатно по РФ
      <br>
      8 (800) 302 10 09
    </div>
    <div>
      Бесплатно по Украине
      <br>
      0 (800) 211 596
    </div>
    <div>
      Международный телефон
      <br>
      (+420) 228 882 109
    </div>
    <div>
      <ul class="social-numbers">
        <li><a class="icon-" href="" title="" target="_blank" rel="noopener"></a></li>
        <li><a class="icon-" href="" title="" target="_blank" rel="noopener"></a></li>
        <li><a class="icon-" href="" title="" target="_blank" rel="noopener"></a></li>
      </ul>
      <br>
      +420 731 500 797
    </div>
  </section>
  <section class="consulting-form">
    <div class="container">
      <div class="consulting-form-content">
        <h1>Получите консультацию опытного курортолога</h1>
        <p>
          Узнайте, на каком курорте лучше всего лечат ваше заболевание и какой санаторий будет самым подходящим для вас.
        </p>
        <button class="button--aylen button--border-thick button--inverted button--text-upper button--size-s">Заполнить форму</button>
      </div>
    </div>
  </section>
</section>
<!-- /Index -->
//= ./partials/bottom.html