//= ./partials/head.html
<!-- Index -->
<section class="index">
  <section class="consulting-form">
    <div class="container">
      <div class="consulting-form-content">
        <h1>Получите консультацию опытного курортолога</h1>
        <p>
          Узнайте, на каком курорте лучше всего лечат ваше заболевание и какой санаторий будет самым подходящим для вас.
        </p>
        <button>Заполнить форму</button>
      </div>
    </div>
  </section>
</section>
<!-- /Index -->
//= ./partials/bottom.html